{% extends 'layout.html' %}
{% block title %}
Checkout
{% endblock %}
{% block content %}

<div>
    <h1>Checkout</h1>
    <div>
        <div>
            <form method="POST">
                {% csrf_token %}
                <div>
                    <h2>Contact</h2>
                    <div>
                        {{ form.email }}
                        {{ form.phone }}
                    </div>
                </div>
                <div>
                    <h2>Delivery Address</h2>
                    <div>
                        {{ form.first_name }}
                        {{ form.last_name }}
                    </div>
                    <div>
                        {{ form.address_line_one }}
                        {{ form.address_line_two }}
                    </div>
                    <div>
                        {{ form.city }}
                        {{ form.zip_code }}
                    </div>
                </div>
                <button type="submit" style="width:15vw;height:35px; font-size:2rem; text-align:center;">Confirm</button>
            </form>
        </div>
        <div>
            <div>
                <div style="color:white;">
                    Sub total
                    ${{ cart.get_total_cost|floatformat:2 }}
                </div>
                <div style="color:white;">
                    <span>Items:</span>
                    <span>{{ cart|length }}</span>
                </div>
                <a href="{% url 'cart' %}">
                    Back to Cart
                </a>
            </div>

        </div>
    </div>
</div>

{% endblock %}