{% extends 'layout.html' %}
{% block title %}
Merch
{% endblock %}
{% block content %}

<div>
    <div>
        <div>
            <img style="border-radius: 12px; width:50vw;" src="{{ product.image }}">
        </div>
        <div>
            <h2>{{ product.name }}</h2>
            <h2>${{ product.price }}</h2>
            <p>{{ product.description }}</p>
            {% if not product.in_cart %}
                <button style="background-color:black; color:black; font-size: 25px; border-radius:12px; margin-top:25px;">
                    <a href="{% url 'add_to_cart' product.id %}">
                        Add to Cart
                    </a>
                </button>
                {% else %}
                <button style="background-color:green; font-size: 25px; border-radius:12px; margin-top:25px;">
                    <a href="">
                        Added to Cart
                    </a>
                </button>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}