{% extends 'layout.html' %}
{% block title %}
Merch
{% endblock %}
{% block content %}

<div>
    <h1>Shop</h1>
    <h2>Shop is not operational and is still being implemeted. Shop will be up soon!</h2>
    {% for product in products %}
    <product-item>
        <div>
            <a href="{% url 'merch' product.id %}">
                <img style="border-radius:12px; width:30vw;" src="{{ product.image }}">
            </a>
            <h2>{{ product.name }}</h2>
            <h2>${{ product.price|floatformat:2 }}</h2>
        </div>
    </product-item>
    {% endfor %}
</div>

{% endblock %}