* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Garamond", serif;
}


body {
    position: fixed;
    background-image: url("/media/main.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

nav {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    color: whitesmoke;

}

h1 {
    text-align: center;
    font-size: 3.5rem;
    color: whitesmoke;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: whitesmoke;
    width: 80vw;
}

p {
    color: whitesmoke;
    font-size: 1.5rem;

}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: 50%;
}

main {
    flex-grow: 1;
    display: block;
    place-content: center;
}

.banner {
    display: inline;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    flex-flow:column;
}

.custom-form{

}

button:hover {
    background-color:red;
    transition: 0.7s;
}

.cart {
    background-color:black;
    color:white;
    font-size: 25px;
    border-radius:12px;
    margin-top:25px;
    width:25vw;"
}
}

