
{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h1>Meet the band!</h1>
    <div>
        <h2>St. Clair</h2>
        <img src="/media/st_clair.jpg" style="width:384px;height:512px;">
        <p>I play  da bass guitar. 7 years middle school/high school 
            marching band, concert band and 2 years high school jazz band.
            Won best drummer at St. Mary’s jazz festival in 2014. 
            I played xylophone, bells, marimba, chimes, wind chimes, 
            concert snare, concert bass drum, drum kit, timpani’s,
            marching cymbals, marching bass drum, marching snare, 
            marching tenor drums. 
            Drum captain  for junior and senior year of high school. 
            Something cool about me.. 
            I can listen to a secret and never tell because I forget.
            My mother inspires me.
        </p>
    </div>
    <div>
        <h2>Mark</h2>
        <img src="/media/mark.png" style="width:463px;height:431px;">
        <p>
            I am the lead guitarist and founder of Darkness Emerged. 
            I've been playing guitar for about 18 years. I do also
            dabble with the bass, drums, keyboard and vocals. 
            Funny thing is I originally wanted to play drums but my dad 
            was not down with the noise so guitar it was. 
            I have very little classical training and am mostly self taught.
            I play alot by ear and if it sounds good then it sounds good!
            Cool thing about me? I'm a huge nerd and love all things 
            comic book, space/time and computer related. 
        </p>
    </div>
    <div>
        <h2>Napoles</h2>
        <img src="/media/napoles.jpg" style="width:428px;height:326px;">
        <p>
            I’m Joe, but close friends call me Napoles. I’m not a huge 
            fan of avocados but I’ll fuck up a good guac. Musically Im 
            very diverse, I like things from the misfits to the black 
            dahlia murders, from wutang all the way to Iron Maiden. 
            Can’t go wrong with a little country either. I’ve been a 
            guitarist for almost 16 years and been in a band for almost 
            13 give or take. only been with and played for Zombitch 
            till now. Fun fact I have to smell my food before I eat it 
            and if it smells funny I will not bother trying it.
        </p>
    </div>
    <div>
        <h2>Anthony</h2>
        <img src="/media/tone.jpg" style="width:341px;height:454px;">
        <p>
            I'm Tone. I have a love-hate relationship with Rob Zombie 
            movies—some hit, some miss. Musically, I'm into metalcore 
            bands like Poison the Well and All Shall Perish, but my work 
            keeps me diverse, so I also vibe with artists like Twin 
            Tribes and Mr. Kitty. I’ve played with bands like Cauterized, 
            At Gunpoint, Lylat, and Paper Monsters. As an audio engineer 
            at The Hub and Toneblue Studios, my aim is to create music 
            that's both culturally impactful and unapologetically intense.
            Fun fact it took me 34 years to realize a pickle is a 
            cucumber soaked in vinegar- thank you chilis…
        </p>
    </div>
    <div>
        <h2>Mario</h2>
        <img src="/media/mario.jpg" style="width:463px;height:431px;">
        <p>
            I'm the drummer. 
            I've been playing music since middle school, all kinds of 
            instruments. Pretty much anything you put in my hands I'll 
            learn. One cool thing about me is that I can drink more beer 
            and Jeager than your dad probably. My dad inspires me alot, 
            he taught me how to drink more than your dad.
        </p>
    </div>
{% endblock %}