
{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div style="display: inline-block;">
        <h1>News</h1>
        <h2> Check out the Remorse music video!</h2>
        <iframe 
            width="1000" height="620" 
            src="https://www.youtube.com/embed/ol9PWDBf4vk?si=MS_cg00Sze6HvNf8" 
            title="Remorse by Darkness Emerged" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; 
            encrypted-media; gyroscope; picture-in-picture; 
            web-share" referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </div>
    <div>
        <h1>Links</h1>
        <a href= "https://www.facebook.com/darknessemerged"> Facebook </a><br>
        <a href= "https://www.instagram.com/darknessemergedofficial/" > Instagram </a><br>
        <a href= "https://www.youtube.com/@darknessemerged4920" > Youtube </a><br>
        <a href= "https://music.apple.com/us/artist/darkness-emerged/1602944484" > Apple Music </a><br>
        <a href= "https://open.spotify.com/artist/5Kolm1Vg9cU9UMoyA0triz" > Spotify </a><br>
    </div>
{% endblock %}