<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0">
    <title>
        {% block title %}
        Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul style="display:flex; justify-content:center; List-style-type: none;">
                <li><a href="/"> Home &emsp;</a></li>
                <li><a href="{% url 'members' %}"> About &emsp;</a></li>
                <li><a href="{% url 'shows' %}"> Shows &emsp;</a></li>
                <li><a href="{% url 'shop' %}"> Merch &emsp;</a></li>
                <li>{% include 'partials/menu-cart.html' %}
                </li>
            </ul>
        </nav>
    </header>
    <main>

        {% block content %}
        {% endblock %}
    </main>
</body>
</html>